In [1]:
import pandas as pd

In [10]:
# df = pd.read_csv('LT.csv')
df = pd.read_csv('LT.csv', parse_dates=['date'])

In [11]:
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [12]:
df.describe()

       home_score  away_score
count  367.000000  367.000000
mean     1.547684    0.986376
std      1.349879    1.172233
min      0.000000    0.000000
25%      1.000000    0.000000
50%      1.000000    1.000000
75%      2.000000    1.000000
max      5.000000    7.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        367 non-null    datetime64[ns]
 1   home_team   367 non-null    object
 2   away_team   367 non-null    object
 3   home_score  367 non-null    int64
 4   away_score  367 non-null    int64
 5   tourniment  367 non-null    object
 6   city        367 non-null    object
 7   country     367 non-null    object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 23.1+ KB

In [14]:
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

## Filtering

In [16]:
df[ df['away_team'] == 'Lithuania' ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
5,1979-08-01,Belarus,Lithuania,0,2,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
354,2019-03-25,Azerbaijan,Lithuania,0,0,Friendly,Baku,Azerbaijan
357,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia
358,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine

In [17]:
df['away_team'] == 'Lithuania'

0       True
1       True
2       True
3      False
4       True
       ...
362    False
363     True
364     True
365    False
366    False
Name: away_team, Length: 367, dtype: bool

In [20]:
df[ [True if i % 5 == 0 else False for i in range(len(df)) ]  ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
5,1979-08-01,Belarus,Lithuania,0,2,Friendly,Moscow,Soviet Union
10,1992-04-14,Austria,Lithuania,4,0,Friendly,Vienna,Austria
15,1992-07-12,Latvia,Lithuania,2,3,Baltic Cup,Liepoja,Latvia
20,1992-10-28,Lithuania,Latvia,1,1,FIFA World Cup qualification,Vilnius,Lithuania
...,...,...,...,...,...,...,...,...
345,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
355,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania
360,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [24]:
df[ (df['away_team'] == 'Lithuania') &  ( df['city'] == 'Belgrade' ) ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
152,2005-09-03,Serbia,Lithuania,2,0,FIFA World Cup qualification,Belgrade,Serbia and Montenegro
183,2008-10-11,Serbia,Lithuania,3,0,FIFA World Cup qualification,Belgrade,Serbia
349,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
357,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia
358,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia

In [ ]:
# Bitwise operators
# and = &
# or = | 
# not = ~
# in = .isin()

In [25]:
df[ df['away_team'].isin( ['Montenegro', 'Serbia'] ) ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
154,2005-10-08,Lithuania,Serbia,0,2,FIFA World Cup qualification,Vilnius,Lithuania
195,2009-10-14,Lithuania,Serbia,2,1,FIFA World Cup qualification,Marijampol?,Lithuania
339,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania
340,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania
345,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
346,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [28]:
df[ (df['away_team'] == 'Lithuania') & (df['city'] == 'Belgrade') ]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tourniment, city, country]
Index: []

In [33]:
# filter when Lithuania played in Kaunas or Vilnius
df[ df['city'].isin(['Vilnius','Kaunas']) & (df['home_team'] == 'Lithuania') ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
17,1992-09-02,Lithuania,Georgia,1,0,Friendly,Kaunas,Lithuania
18,1992-09-23,Lithuania,Denmark,0,0,FIFA World Cup qualification,Vilnius,Lithuania
19,1992-10-14,Lithuania,Slovakia,0,1,Friendly,Vilnius,Lithuania
20,1992-10-28,Lithuania,Latvia,1,1,FIFA World Cup qualification,Vilnius,Lithuania
26,1993-04-14,Lithuania,Albania,3,1,FIFA World Cup qualification,Vilnius,Lithuania
...,...,...,...,...,...,...,...,...
360,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania
361,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [39]:
# How many games Lithuania played away in 2018
len( df[ (df['away_team'] == 'Lithuania') & ( df['date'].dt.year == 2018 ) ] )
# df[ (df['away_team'] == 'Lithuania') & ( pd.DatetimeIndex(df['date']).year==2018 ) ]

14

In [41]:
df[ (df['away_team'] == 'Lithuania') & ( df['date'].dt.year == 2018 ) & (df['away_score'] >= 1)  ]

,date,home_team,away_team,home_score,away_score,tourniment,city,country
329,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia
330,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia
349,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia
350,2018-11-20,Serbia,Lithuania,4,1,UEFA Nations League,Belgrade,Serbia

In [45]:
df = df.rename(columns={'tourniment': 'tournament'} )
df

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [51]:
# how many games Lithuania played in each tournament
df['tournament'].value_counts()

Friendly                           127
FIFA World Cup qualification        90
UEFA Euro qualification             87
Baltic Cup                          40
UEFA Nations League                 12
Cyprus International Tournament      8
Malta International Tournament       3
Name: tournament, dtype: int64

In [52]:
df.groupby('tournament').count()

,date,home_team,away_team,home_score,away_score,city,country
tournament,,,,,,,
Baltic Cup,40,40,40,40,40,40,40
Cyprus International Tournament,8,8,8,8,8,8,8
FIFA World Cup qualification,90,90,90,90,90,90,90
Friendly,127,127,127,127,127,127,127
Malta International Tournament,3,3,3,3,3,3,3
UEFA Euro qualification,87,87,87,87,87,87,87
UEFA Nations League,12,12,12,12,12,12,12

In [53]:
df[ 'goal_sum' ] = df['home_score'] + df['away_score']
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2
...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3

In [54]:
df[ 'goal_diff' ] = df['home_score'] - df['away_score']
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1,-1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2,-2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
...,...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1

In [56]:
len (df[ df['goal_diff'] == 0 ] )

73

In [61]:
min(df['goal_diff'])

-7

In [65]:
# df[ (df['home_team'] == 'Lithuania') & (df['goal_diff'] == min(df['goal_diff']) ) ]
# df[ (df['home_team'] == 'Lithuania')  ].sort_values('goal_diff')
# Option 1
df_home_LT = df[ (df['home_team'] == 'Lithuania')  ]
df_home_LT[  (df_home_LT['goal_diff'] == min(df_home_LT['goal_diff']) ) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
108,2000-10-11,Lithuania,Hungary,1,6,FIFA World Cup qualification,Kaunas,Lithuania,7,-5

In [67]:
# Option 2 , gives only single result
df[ (df['home_team'] == 'Lithuania')  ].sort_values('goal_diff').iloc[0]

date                   2000-10-11 00:00:00
home_team                        Lithuania
away_team                          Hungary
home_score                               1
away_score                               6
tournament    FIFA World Cup qualification
city                                Kaunas
country                          Lithuania
goal_sum                                 7
goal_diff                               -5
Name: 108, dtype: object

In [68]:
df[ (df['away_team'] == 'Lithuania') & (df['goal_diff'] > 0) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
6,1979-08-05,Russia,Lithuania,2,1,Friendly,Moscow,Soviet Union,3,1
10,1992-04-14,Austria,Lithuania,4,0,Friendly,Vienna,Austria,4,4
13,1992-06-03,Albania,Lithuania,1,0,FIFA World Cup qualification,Tirana,Albania,1,1
...,...,...,...,...,...,...,...,...,...,...
352,2019-03-22,Luxembourg,Lithuania,2,1,UEFA Euro qualification,Luxembourg City,Luxembourg,3,1
357,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia,5,3
358,2019-06-10,Serbia,Lithuania,4,1,UEFA Euro qualification,Belgrade,Serbia,5,3
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2

In [69]:
df[ (df['away_team'] == 'Lithuania') & (df['goal_diff'] < 0) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1,-1
5,1979-08-01,Belarus,Lithuania,0,2,Friendly,Moscow,Soviet Union,2,-2
15,1992-07-12,Latvia,Lithuania,2,3,Baltic Cup,Liepoja,Latvia,5,-1
16,1992-08-12,Latvia,Lithuania,1,2,FIFA World Cup qualification,Riga,Latvia,3,-1
21,1993-02-20,Latvia,Lithuania,1,2,Friendly,Vantaa,Finland,3,-1
40,1994-09-07,Ukraine,Lithuania,0,2,UEFA Euro qualification,Kyï¿½v,Ukraine,2,-2
42,1994-11-16,Slovenia,Lithuania,1,2,UEFA Euro qualification,Maribor,Slovenia,3,-1
47,1995-05-20,Estonia,Lithuania,0,7,Baltic Cup,Riga,Latvia,7,-7
51,1995-08-16,Estonia,Lithuania,0,1,UEFA Euro qualification,Tallinn,Estonia,1,-1
56,1996-07-08,Latvia,Lithuania,1,2,Baltic Cup,Narva,Estonia,3,-1
69,1997-04-30,Liechtenstein,Lithuania,0,2,FIFA World Cup qualification,Eschen,Liechtenstein,2,-2
78,1997-10-11,North Macedonia,Lithuania,1,2,FIFA World Cup qualification,Skopje,North Macedonia,3,-1
79,1998-04-21,Latvia,Lithuania,1,2,Baltic Cup,Liepoja,Latvia,3,-1
94,1999-06-09,Estonia,Lithuania,1,2,UEFA Euro qualification,Tallinn,Estonia,3,-1
99,1999-09-08,Faroe Islands,Lithuania,0,1,UEFA Euro qualification,Tï¿½rshavn,Faroe Islands,1,-1
103,2000-02-06,Latvia,Lithuania,1,2,Cyprus International Tournament,Larnaca,Cyprus,3,-1
110,2001-02-26,Cyprus,Lithuania,1,2,Cyprus International Tournament,Limassol,Cyprus,3,-1
115,2001-07-04,Estonia,Lithuania,2,5,Baltic Cup,Riga,Latvia,7,-3
133,2003-07-03,Estonia,Lithuania,1,5,Baltic Cup,Valga,Estonia,6,-4
136,2003-09-10,Faroe Islands,Lithuania,1,3,UEFA Euro qualification,Toftir,Faroe Islands,4,-2
146,2004-11-17,San Marino,Lithuania,0,1,FIFA World Cup qualification,Serravalle,San Marino,1,-1
156,2006-03-01,Albania,Lithuania,1,2,Friendly,Tirana,Albania,3,-1
157,2006-05-02,Poland,Lithuania,0,1,Friendly,Be?chatï¿½w,Poland,1,-1
161,2006-10-07,Faroe Islands,Lithuania,0,1,UEFA Euro qualification,Tï¿½rshavn,Faroe Islands,1,-1
163,2006-11-15,Malta,Lithuania,1,4,Friendly,Attard,Malta,5,-3
174,2007-11-21,Georgia,Lithuania,0,2,UEFA Euro qualification,Tbilisi,Georgia,2,-2
177,2008-05-31,Estonia,Lithuania,0,1,Baltic Cup,Jurmala,Latvia,1,-1
181,2008-09-06,Romania,Lithuania,0,3,FIFA World Cup qualification,Cluj,Romania,3,-3
188,2009-02-11,Andorra,Lithuania,1,3,Friendly,Albufeira,Portugal,4,-2
192,2009-08-12,Luxembourg,Lithuania,0,1,Friendly,Luxembourg,Luxembourg,1,-1
201,2010-09-07,Czech Republic,Lithuania,0,1,UEFA Euro qualification,Olomouc,Czech Republic,1,-1
235,2012-10-12,Liechtenstein,Lithuania,0,2,FIFA World Cup qualification,Vaduz,Liechtenstein,2,-2
236,2012-10-12,Liechtenstein,Lithuania,0,2,FIFA World Cup qualification,Vaduz,Liechtenstein,2,-2
261,2014-05-29,Finland,Lithuania,0,1,Baltic Cup,Ventspils,Latvia,1,-1
262,2014-05-29,Finland,Lithuania,0,1,Baltic Cup,Ventspils,Latvia,1,-1
269,2014-09-08,San Marino,Lithuania,0,2,UEFA Euro qualification,Serravalle,San Marino,2,-2
270,2014-09-08,San Marino,Lithuania,0,2,UEFA Euro qualification,Serravalle,San Marino,2,-2
329,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia,1,-1
330,2018-03-27,Armenia,Lithuania,0,1,Friendly,Yerevan,Armenia,1,-1

In [71]:
df[ (df['country'] == 'Lithuania') & (df['goal_diff'] > 0) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
8,1991-11-15,Lithuania,Estonia,4,1,Baltic Cup,Klaipeda,Lithuania,5,3
17,1992-09-02,Lithuania,Georgia,1,0,Friendly,Kaunas,Lithuania,1,1
26,1993-04-14,Lithuania,Albania,3,1,FIFA World Cup qualification,Vilnius,Lithuania,4,2
37,1994-07-29,Lithuania,Estonia,3,0,Baltic Cup,Vilnius,Lithuania,3,3
38,1994-07-31,Lithuania,Latvia,1,0,Baltic Cup,Vilnius,Lithuania,1,1
46,1995-05-17,Lithuania,Greece,2,1,Friendly,Vilnius,Lithuania,3,1
49,1995-06-07,Lithuania,Slovenia,2,1,UEFA Euro qualification,Vilnius,Lithuania,3,1
53,1995-10-11,Lithuania,Estonia,5,0,UEFA Euro qualification,Vilnius,Lithuania,5,5
61,1996-10-05,Lithuania,Iceland,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2
62,1996-10-09,Lithuania,Liechtenstein,2,1,FIFA World Cup qualification,Vilnius,Lithuania,3,1
64,1996-11-03,Lithuania,Indonesia,4,0,Friendly,Vilnius,Lithuania,4,4
71,1997-07-09,Lithuania,Estonia,2,1,Baltic Cup,Vilnius,Lithuania,3,1
72,1997-07-11,Lithuania,Latvia,1,0,Baltic Cup,Vilnius,Lithuania,1,1
75,1997-09-06,Lithuania,North Macedonia,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2
90,1998-10-14,Lithuania,Bosnia and Herzegovina,4,2,UEFA Euro qualification,Vilnius,Lithuania,6,2
104,2000-04-26,Lithuania,Latvia,2,1,Baltic Cup,Kaunas,Lithuania,3,1
126,2002-10-12,Lithuania,Faroe Islands,2,0,UEFA Euro qualification,Kaunas,Lithuania,2,2
130,2003-04-02,Lithuania,Scotland,1,0,UEFA Euro qualification,Kaunas,Lithuania,1,1
144,2004-09-08,Lithuania,San Marino,4,0,FIFA World Cup qualification,Kaunas,Lithuania,4,4
149,2005-05-21,Lithuania,Latvia,2,0,Baltic Cup,Kaunas,Lithuania,2,2
151,2005-08-17,Lithuania,Belarus,1,0,Friendly,Vilnius,Lithuania,1,1
167,2007-06-02,Lithuania,Georgia,1,0,UEFA Euro qualification,Kaunas,Lithuania,1,1
169,2007-08-22,Lithuania,Turkmenistan,2,1,Friendly,Kaunas,Lithuania,3,1
171,2007-09-12,Lithuania,Faroe Islands,2,1,UEFA Euro qualification,Kaunas,Lithuania,3,1
173,2007-11-17,Lithuania,Ukraine,2,0,UEFA Euro qualification,Kaunas,Lithuania,2,2
175,2008-03-26,Lithuania,Azerbaijan,1,0,Friendly,Vilnius,Lithuania,1,1
180,2008-08-20,Lithuania,Moldova,3,0,Friendly,Marijampol?,Lithuania,3,3
182,2008-09-10,Lithuania,Austria,2,0,FIFA World Cup qualification,Marijampol?,Lithuania,2,2
184,2008-10-15,Lithuania,Faroe Islands,1,0,FIFA World Cup qualification,Kaunas,Lithuania,1,1
195,2009-10-14,Lithuania,Serbia,2,1,FIFA World Cup qualification,Marijampol?,Lithuania,3,1
198,2010-06-20,Lithuania,Estonia,2,0,Baltic Cup,Kaunas,Lithuania,2,2
205,2011-03-25,Lithuania,Poland,2,0,Friendly,Kaunas,Lithuania,2,2
206,2011-03-25,Lithuania,Poland,2,0,Friendly,Kaunas,Lithuania,2,2
213,2011-08-10,Lithuania,Armenia,3,0,Friendly,Kaunas,Lithuania,3,3
214,2011-08-10,Lithuania,Armenia,3,0,Friendly,Kaunas,Lithuania,3,3
251,2013-09-10,Lithuania,Liechtenstein,2,0,FIFA World Cup qualification,Marijampol?,Lithuania,2,2
252,2013-09-10,Lithuania,Liechtenstein,2,0,FIFA World Cup qualification,Marijampol?,Lithuania,2,2
253,2013-10-11,Lithuania,Latvia,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2
254,2013-10-11,Lithuania,Latvia,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2
271,2014-10-09,Lithuania,Estonia,1,0,UEFA Euro qualification,Vilnius,Lithuania,1,1
272,2014-10-09,Lithuania,Estonia,1,0,UEFA Euro qualification,Vilnius,Lithuania,1,1
289,2015-09-08,Lithuania,San Marino,2,1,UEFA Euro qualification,Vilnius,Lithuania,3,1
290,2015-09-08,Lithuania,San Marino,2,1,UEFA Euro qualification,Vilnius,Lithuania,3,1
299,2016-05-29,Lithuania,Estonia,2,0,Baltic Cup,Klaipeda,Lithuania,2,2
300,2016-05-29,Lithuania,Estonia,2,0,Baltic Cup,Klaipeda,Lithuania,2,2
309,2016-10-11,Lithuania,Malta,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2
310,2016-10-11,Lithuania,Malta,2,0,FIFA World Cup qualification,Vilnius,Lithuania,2,2

In [72]:
df[ (df['country'] == 'Lithuania') & (df['goal_diff'] < 0) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
19,1992-10-14,Lithuania,Slovakia,0,1,Friendly,Vilnius,Lithuania,1,-1
27,1993-05-18,Lithuania,Ukraine,1,2,Friendly,Vilnius,Lithuania,3,-1
28,1993-05-25,Lithuania,Northern Ireland,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
29,1993-06-02,Lithuania,Spain,0,2,FIFA World Cup qualification,Vilnius,Lithuania,2,-2
30,1993-06-16,Lithuania,Republic of Ireland,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
45,1995-04-26,Lithuania,Italy,0,1,UEFA Euro qualification,Vilnius,Lithuania,1,-1
52,1995-09-06,Lithuania,Ukraine,1,3,UEFA Euro qualification,Vilnius,Lithuania,4,-2
68,1997-04-02,Lithuania,Romania,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
76,1997-09-10,Lithuania,Republic of Ireland,1,2,FIFA World Cup qualification,Vilnius,Lithuania,3,-1
87,1998-08-19,Lithuania,Belarus,0,3,Friendly,Vilnius,Lithuania,3,-3
92,1999-03-31,Lithuania,Estonia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
98,1999-09-04,Lithuania,Czech Republic,0,4,UEFA Euro qualification,Vilnius,Lithuania,4,-4
107,2000-10-07,Lithuania,Georgia,0,4,FIFA World Cup qualification,Kaunas,Lithuania,4,-4
108,2000-10-11,Lithuania,Hungary,1,6,FIFA World Cup qualification,Kaunas,Lithuania,7,-5
114,2001-06-06,Lithuania,Romania,1,2,FIFA World Cup qualification,Kaunas,Lithuania,3,-1
117,2001-08-15,Lithuania,Israel,2,3,Friendly,Kaunas,Lithuania,5,-1
124,2002-08-21,Lithuania,Israel,2,4,Friendly,Kaunas,Lithuania,6,-2
125,2002-09-07,Lithuania,Germany,0,2,UEFA Euro qualification,Kaunas,Lithuania,2,-2
131,2003-04-30,Lithuania,Romania,0,1,Friendly,Kaunas,Lithuania,1,-1
132,2003-06-11,Lithuania,Iceland,0,3,UEFA Euro qualification,Kaunas,Lithuania,3,-3
153,2005-09-07,Lithuania,Bosnia and Herzegovina,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
154,2005-10-08,Lithuania,Serbia,0,2,FIFA World Cup qualification,Vilnius,Lithuania,2,-2
160,2006-09-06,Lithuania,Scotland,1,2,UEFA Euro qualification,Kaunas,Lithuania,3,-1
165,2007-03-24,Lithuania,France,0,1,UEFA Euro qualification,Kaunas,Lithuania,1,-1
168,2007-06-06,Lithuania,Italy,0,2,UEFA Euro qualification,Kaunas,Lithuania,2,-2
189,2009-03-28,Lithuania,France,0,1,FIFA World Cup qualification,Kaunas,Lithuania,1,-1
191,2009-06-06,Lithuania,Romania,0,1,FIFA World Cup qualification,Marijampol?,Lithuania,1,-1
199,2010-08-11,Lithuania,Belarus,0,2,Friendly,Kaunas,Lithuania,2,-2
207,2011-03-29,Lithuania,Spain,1,3,UEFA Euro qualification,Kaunas,Lithuania,4,-2
208,2011-03-29,Lithuania,Spain,1,3,UEFA Euro qualification,Kaunas,Lithuania,4,-2
219,2011-10-11,Lithuania,Czech Republic,1,4,UEFA Euro qualification,Kaunas,Lithuania,5,-3
220,2011-10-11,Lithuania,Czech Republic,1,4,UEFA Euro qualification,Kaunas,Lithuania,5,-3
245,2013-06-07,Lithuania,Greece,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
246,2013-06-07,Lithuania,Greece,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
255,2013-10-15,Lithuania,Bosnia and Herzegovina,0,1,FIFA World Cup qualification,Kaunas,Lithuania,1,-1
256,2013-10-15,Lithuania,Bosnia and Herzegovina,0,1,FIFA World Cup qualification,Kaunas,Lithuania,1,-1
273,2014-10-12,Lithuania,Slovenia,0,2,UEFA Euro qualification,Vilnius,Lithuania,2,-2
274,2014-10-12,Lithuania,Slovenia,0,2,UEFA Euro qualification,Vilnius,Lithuania,2,-2
285,2015-06-14,Lithuania,Switzerland,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
286,2015-06-14,Lithuania,Switzerland,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
293,2015-10-12,Lithuania,England,0,3,UEFA Euro qualification,Vilnius,Lithuania,3,-3
294,2015-10-12,Lithuania,England,0,3,UEFA Euro qualification,Vilnius,Lithuania,3,-3
317,2017-06-10,Lithuania,Slovakia,1,2,FIFA World Cup qualification,Vilnius,Lithuania,3,-1
318,2017-06-10,Lithuania,Slovakia,1,2,FIFA World Cup qualification,Vilnius,Lithuania,3,-1
319,2017-09-01,Lithuania,Scotland,0,3,FIFA World Cup qualification,Vilnius,Lithuania,3,-3
320,2017-09-01,Lithuania,Scotland,0,3,FIFA World Cup qualification,Vilnius,Lithuania,3,-3
325,2017-10-08,Lithuania,England,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
326,2017-10-08,Lithuania,England,0,1,FIFA World Cup qualification,Vilnius,Lithuania,1,-1
339,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania,1,-1
340,2018-09-07,Lithuania,Serbia,0,1,UEFA Nations League,Vilnius,Lithuania,1,-1
343,2018-10-11,Lithuania,Romania,1,2,UEFA Nations League,Vilnius,Lithuania,3,-1
344,2018-10-11,Lithuania,Romania,1,2,UEFA Nations League,Vilnius,Lithuania,3,-1
345,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania,5,-3
346,2018-10-14,Lithuania,Montenegro,1,4,UEFA Nations League,Vilnius,Lithuania,5,-3
359,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania,3,-3
360,2019-09-07,Lithuania,Ukraine,0,3,UEFA Euro qualification,Vilnius,Lithuania,3,-3
361,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1

In [73]:
df[ (df['away_team'] == 'Lithuania') & (df['goal_diff'] == 0) ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
7,1990-05-27,Georgia,Lithuania,2,2,Friendly,Tbilisi,Soviet Union,4,0
11,1992-04-28,Northern Ireland,Lithuania,2,2,FIFA World Cup qualification,Belfast,Northern Ireland,4,0
12,1992-05-20,Moldova,Lithuania,1,1,Friendly,Chi?in?u,Moldova,2,0
14,1992-07-11,Estonia,Lithuania,1,1,Baltic Cup,Liepoja,Latvia,2,0
24,1993-03-30,Slovakia,Lithuania,2,2,Friendly,Dunajskï¿½ Streda,Slovakia,4,0
25,1993-03-31,Poland,Lithuania,1,1,Friendly,Brzeszcze,Poland,2,0
31,1993-07-03,Latvia,Lithuania,0,0,Baltic Cup,Pernu,Estonia,0,0
57,1996-07-09,Estonia,Lithuania,1,1,Baltic Cup,Narva,Estonia,2,0
58,1996-07-31,Belarus,Lithuania,2,2,Friendly,Minsk,Belarus,4,0
70,1997-06-11,Iceland,Lithuania,0,0,FIFA World Cup qualification,Reykjavï¿½k,Iceland,0,0
74,1997-08-20,Republic of Ireland,Lithuania,0,0,FIFA World Cup qualification,Dublin,Republic of Ireland,0,0
84,1998-06-28,Estonia,Lithuania,0,0,Baltic Cup,Viljandi,Estonia,0,0
95,1999-06-26,Argentina,Lithuania,0,0,Friendly,Buenos Aires,Argentina,0,0
112,2001-03-24,Hungary,Lithuania,1,1,FIFA World Cup qualification,Budapest,Hungary,2,0
121,2002-02-11,Malta,Lithuania,1,1,Malta International Tournament,Attard,Malta,2,0
129,2003-03-29,Germany,Lithuania,1,1,UEFA Euro qualification,Nuremberg,Germany,2,0
143,2004-09-04,Belgium,Lithuania,1,1,FIFA World Cup qualification,Charleroi,Belgium,2,0
148,2005-03-30,Bosnia and Herzegovina,Lithuania,1,1,FIFA World Cup qualification,Sarajevo,Bosnia and Herzegovina,2,0
159,2006-09-02,Italy,Lithuania,1,1,UEFA Euro qualification,Naples,Italy,2,0
185,2008-11-19,Moldova,Lithuania,1,1,Friendly,Tallinn,Estonia,2,0
186,2008-11-22,Estonia,Lithuania,1,1,Friendly,Kuressaare,Estonia,2,0
227,2012-06-07,Belarus,Lithuania,1,1,Friendly,Minsk,Belarus,2,0
228,2012-06-07,Belarus,Lithuania,1,1,Friendly,Minsk,Belarus,2,0
241,2013-03-22,Slovakia,Lithuania,1,1,FIFA World Cup qualification,ï¿½ilina,Slovakia,2,0
242,2013-03-22,Slovakia,Lithuania,1,1,FIFA World Cup qualification,ï¿½ilina,Slovakia,2,0
257,2013-11-18,Moldova,Lithuania,1,1,Friendly,Chi?in?u,Moldova,2,0
258,2013-11-18,Moldova,Lithuania,1,1,Friendly,Chi?in?u,Moldova,2,0
259,2014-03-05,Kazakhstan,Lithuania,1,1,Friendly,Antalya,Turkey,2,0
260,2014-03-05,Kazakhstan,Lithuania,1,1,Friendly,Antalya,Turkey,2,0
277,2014-11-18,Ukraine,Lithuania,0,0,Friendly,Kyï¿½v,Ukraine,0,0
278,2014-11-18,Ukraine,Lithuania,0,0,Friendly,Kyï¿½v,Ukraine,0,0
291,2015-10-09,Slovenia,Lithuania,1,1,UEFA Euro qualification,Ljubljana,Slovenia,2,0
292,2015-10-09,Slovenia,Lithuania,1,1,UEFA Euro qualification,Ljubljana,Slovenia,2,0
303,2016-06-06,Poland,Lithuania,0,0,Friendly,Cracow,Poland,0,0
304,2016-06-06,Poland,Lithuania,0,0,Friendly,Cracow,Poland,0,0
307,2016-10-08,Scotland,Lithuania,1,1,FIFA World Cup qualification,Glasgow,Scotland,2,0
308,2016-10-08,Scotland,Lithuania,1,1,FIFA World Cup qualification,Glasgow,Scotland,2,0
323,2017-10-05,Malta,Lithuania,1,1,FIFA World Cup qualification,Attard,Malta,2,0
324,2017-10-05,Malta,Lithuania,1,1,FIFA World Cup qualification,Attard,Malta,2,0
353,2019-03-25,Azerbaijan,Lithuania,0,0,Friendly,Baku,Azerbaijan,0,0
354,2019-03-25,Azerbaijan,Lithuania,0,0,Friendly,Baku,Azerbaijan,0,0

In [75]:
df[ (df['home_team'] == 'Lithuania') & (df['goal_diff'] == 0) & (df['country'] == 'Lithuania') ]

,date,home_team,away_team,home_score,away_score,tournament,city,country,goal_sum,goal_diff
9,1991-11-17,Lithuania,Latvia,1,1,Baltic Cup,Kretinga,Lithuania,2,0
18,1992-09-23,Lithuania,Denmark,0,0,FIFA World Cup qualification,Vilnius,Lithuania,0,0
20,1992-10-28,Lithuania,Latvia,1,1,FIFA World Cup qualification,Vilnius,Lithuania,2,0
35,1994-04-20,Lithuania,Israel,1,1,Friendly,Vilnius,Lithuania,2,0
44,1995-03-29,Lithuania,Croatia,0,0,UEFA Euro qualification,Vilnius,Lithuania,0,0
50,1995-07-29,Lithuania,Belarus,1,1,Friendly,Vilnius,Lithuania,2,0
86,1998-08-16,Lithuania,Moldova,1,1,Friendly,Kaunas,Lithuania,2,0
88,1998-09-05,Lithuania,Scotland,0,0,UEFA Euro qualification,Vilnius,Lithuania,0,0
89,1998-10-10,Lithuania,Faroe Islands,0,0,UEFA Euro qualification,Vilnius,Lithuania,0,0
118,2001-09-01,Lithuania,Italy,0,0,FIFA World Cup qualification,Kaunas,Lithuania,0,0
145,2004-10-13,Lithuania,Spain,0,0,FIFA World Cup qualification,Vilnius,Lithuania,0,0
155,2005-10-12,Lithuania,Belgium,1,1,FIFA World Cup qualification,Vilnius,Lithuania,2,0
197,2010-06-18,Lithuania,Latvia,0,0,Baltic Cup,Kaunas,Lithuania,0,0
200,2010-09-03,Lithuania,Scotland,0,0,UEFA Euro qualification,Kaunas,Lithuania,0,0
215,2011-09-02,Lithuania,Liechtenstein,0,0,UEFA Euro qualification,Kaunas,Lithuania,0,0
216,2011-09-02,Lithuania,Liechtenstein,0,0,UEFA Euro qualification,Kaunas,Lithuania,0,0
231,2012-09-07,Lithuania,Slovakia,1,1,FIFA World Cup qualification,Vilnius,Lithuania,2,0
232,2012-09-07,Lithuania,Slovakia,1,1,FIFA World Cup qualification,Vilnius,Lithuania,2,0
305,2016-09-04,Lithuania,Slovenia,2,2,FIFA World Cup qualification,Vilnius,Lithuania,4,0
306,2016-09-04,Lithuania,Slovenia,2,2,FIFA World Cup qualification,Vilnius,Lithuania,4,0
333,2018-06-05,Lithuania,Latvia,1,1,Friendly,Vilnius,Lithuania,2,0
334,2018-06-05,Lithuania,Latvia,1,1,Friendly,Vilnius,Lithuania,2,0
355,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania,2,0
356,2019-06-07,Lithuania,Luxembourg,1,1,UEFA Euro qualification,Vilnius,Lithuania,2,0