In [5]:
# class definition
class Car:
    def __init__(self, brand, year, color):
        self.brand = brand
        self.year = year
        self.color = color

        self.engine_status = False
        self.oil_level = 0.0
        self.MAX_OIL_LEVEL = 3.2

    def __str__(self) -> str:
        return f'Brand: {self.brand}, year: {self.year}, color: {self.color}'

    def start_engine(self):
        if self.engine_status == False:
            self.engine_status = True

    def stop_engine(self):
        if self.engine_status == True:
            self.engine_status = False

    def add_oil(self, oil_amount):
        if self.oil_level + oil_amount > self.MAX_OIL_LEVEL:
            self.oil_level = self.MAX_OIL_LEVEL
        else:
            self.oil_level += oil_amount

In [8]:
# creation of class instances
car_1 = Car('BMW', 2006, 'black')
print('car_1')
print('engine status:', car_1.engine_status)
print (car_1)
car_1.start_engine()
print('engine status:', car_1.engine_status)
print('oil level:', car_1.oil_level)
car_1.add_oil(1.5)
print('oil level:', car_1.oil_level)
car_1.add_oil(3)
print('oil level:', car_1.oil_level)
# print (car_1.brand )
# print (car_1.year )
# print (car_1.color )

car_2 = Car('Tesla', 2015, 'Silver')
print('car_2')
print('oil level:', car_2.oil_level)
car_2.add_oil(2.3)
print('oil level:', car_2.oil_level)

print (car_2)
# print (car_2.brand )
# print (car_2.year )
# print (car_2.color )

car_1
engine status: False
Brand: BMW, year: 2006, color: black
engine status: True
oil level: 0.0
oil level: 1.5
oil level: 3.2
car_2
oil level: 0.0
oil level: 2.3
Brand: Tesla, year: 2015, color: Silver

In [15]:
class Pipe:
    def __init__(self):
        pass

    def cross_section(self):
        raise NotImplementedError

    def flow_rate(self, velocity):
        return self.cross_section() * velocity

    def __ge__(self, other_pipe):
        return self.flow_rate(1) >= other_pipe.flow_rate(1)

    def __eq__(self, other_pipe):
        return self.flow_rate(1) == other_pipe.flow_rate(1)
    
    def __le__(self, other_pipe):
        return self.flow_rate(1) <= other_pipe.flow_rate(1)
    
    def __lt__(self, other_pipe):
        return self.flow_rate(1) < other_pipe.flow_rate(1)

In [16]:
class RoundPipe(Pipe):
    def __init__(self, radius):
        super().__init__()
        self.radius = radius

    def cross_section(self):
        return 3.14 * self.radius ** 2

In [17]:
class SquarePipe(Pipe):
    def __init__(self, width, height):
        super().__init__()
        self.width = width
        self.height = height

    def cross_section(self):
        return self.width * self.height

In [18]:
round_pipe_1 = RoundPipe(1.5)
print ('round pipe 1 flow rate:', round_pipe_1.flow_rate(2) )
round_pipe_2 = RoundPipe(2.1)
print ('round pipe 2 flow rate:', round_pipe_2.flow_rate(1) )

round pipe 1 flow rate: 14.13
round pipe 2 flow rate: 13.8474

In [23]:
square_pipe_1 = SquarePipe(1.2, 1.5)
print ('square pipe 1 flow rate:', square_pipe_1.flow_rate(2) )
print ('square pipe 1 flow rate:', square_pipe_1.flow_rate(1) )
square_pipe_2 = SquarePipe(1.1, 2.1)
print ('square pipe 2 flow rate:', square_pipe_2.flow_rate(1) )

square pipe 1 flow rate: 3.5999999999999996
square pipe 1 flow rate: 1.7999999999999998
square pipe 2 flow rate: 2.3100000000000005

In [24]:
print (round_pipe_1 > square_pipe_1 )
print (square_pipe_2 < square_pipe_1 )

True
False

In [28]:
class ClientAccount:
    def __init__(self, name, balance = 0.0) -> None:
        self.name = name
        self.balance = balance
        
    def add_money(self, amount):
        self.balance += amount

    def widraw_money(self, amount):
        self.balance -= amount

    def __repr__(self) -> str:
        return f'Client {self.name} with a balance: {self.balance}'

In [37]:
class ATM:
    def __init__(self) -> None:
        
        self.balance = 1000.0

    def add_money(self, client: ClientAccount, amount):
        client.add_money(amount)
        self.balance += amount

    def windraw_money(self, client: ClientAccount, amount):
        if client.balance >= amount:
            if self.balance >= amount:
                self.balance -= amount
                client.widraw_money(amount)
            else:
                print('ATM machine does not have sufficient amount to widraw. Try using another ATM machine.')
        else:
            print(f'Client {client.name} does not have sufficient amount in their account.')

    def __repr__(self) -> str:
        return f'ATM balance: {self.balance}'

In [38]:
client_1 = ClientAccount('Tom', 1500.)
client_2 = ClientAccount('Bob', 500.)
atm_1 = ATM()

print (client_1)
print (client_2)
print (atm_1)

print(f'{client_1.name} adding money')
atm_1.add_money(client_1, 300)
print(atm_1)
print(client_1)

print(f'{client_1.name} taking money')
atm_1.windraw_money(client_1, 400)
print(atm_1)
print(client_1)

print(f'{client_2.name} taking money')
atm_1.windraw_money(client_2, 700)
print(atm_1)
print(client_2)

Client Tom with a balance: 1500.0
Client Bob with a balance: 500.0
ATM balance: 1000.0
Tom adding money
ATM balance: 1300.0
Client Tom with a balance: 1800.0
Tom taking money
ATM balance: 900.0
Client Tom with a balance: 1400.0
Bob taking money
Client Bob does not have sufficient amout in their account.
ATM balance: 900.0
Client Bob with a balance: 500.0

# Pandas

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame(
    [ ['Jan',58,42,74,22,2.05],
    ['Feb',61,45,78,26,3.02],
    ['Mar',65,48,84,25,2.34],
    ['Apr',67,50,92,28,1.02],
    ['May',71,53,98,35,0.48],
    ['Jun',75,56,107,41,0.11],
    ['Jul',77,58,105,44,0.0],
    ['Aug',77,59,102,43,0.03],
    ['Sep',77,57,103,40,0.17],
    ['Oct',73,54,96,34,0.81],
    ['Nov',64,48,84,30,1.7],
    ['Dec',58,None,None,21,2.56],
    ['Dec',58,42,73,21,2.56] ],
    columns = ['month','avg_high','avg_low','record_high','record_low','avg_precipitation'])

In [41]:
df

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58     42.0         74.0          22               2.05
1    Feb        61     45.0         78.0          26               3.02
2    Mar        65     48.0         84.0          25               2.34
3    Apr        67     50.0         92.0          28               1.02
4    May        71     53.0         98.0          35               0.48
5    Jun        75     56.0        107.0          41               0.11
6    Jul        77     58.0        105.0          44               0.00
7    Aug        77     59.0        102.0          43               0.03
8    Sep        77     57.0        103.0          40               0.17
9    Oct        73     54.0         96.0          34               0.81
10   Nov        64     48.0         84.0          30               1.70
11   Dec        58      NaN          NaN          21               2.56
12   Dec        58     42.0         73.0          21               2.56