# Homework

1.  Make a loop which goes from 1 to 20 and print numbers which are divisible by 3 without a remainder using if statement

In [1]:
for number in range(1,21):
    if number % 3 == 0:
        print (number)

3
6
9
12
15
18

2. Make a loop which goes from 1 to 50  and add them together only if the new current amount is even

In [2]:
my_sum = 0
for number in range(1,51):
    if (my_sum + number) % 2 == 0:
        my_sum += number # my_sum = my_sum + number
        print (my_sum)

print ('final:', my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
final: 650

3. Get all possible combinations from these lists only if the day is either Monday or Wednesday and the hours are from 12 to 17. Add them into the list

In [3]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = ['Monday', 'Wednesday']
valid_hours = list(range(12,18) )

combinations = []
for day in days:
    # if day == 'Monday' or day == 'Wednesday':
    if day in valid_days:
        for hour in hours:
            if hour in valid_hours:
                combinations.append( (day, hour) )

print (combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

4. Make a loop which goes from 1 to  100, if the number is divisible by 2 without a residue, print ‘Fizz’, if the number is divisible by 3 without a residue, print ‘Buzz’, if the number is divisible by 2 and 3 without a residue, print ‘FizzBuzz’

In [ ]:
for i in range(1,101):
    # if i % 2 == 0:
    #     print (f'{i} - Fizz')
    # elif i % 3 == 0:
    #     print (f'{i} - Buzz')
    # elif i % 2 == 0 and i % 3 == 0:
    #     print (f'{i} - FizzBuzz')
    if i % 2 == 0 and i % 3 == 0:
        print (f'{i} - FizzBuzz')
    elif i % 2 == 0:
        print (f'{i} - Fizz')
    elif i % 3 == 0:
        print (f'{i} - Buzz')

In [ ]:
for i in range(1,101):
    result = ''
    if i % 2 == 0:
        result += 'Fizz'
    if i % 3 == 0:
        result += 'Buzz'
    print (f'{i} - {result}')

5. What is the length of a list made up of combinations of lists provided if we want to find all possible values? Sort the list from highest to lowest

In [12]:
a = ['1','2','3','4','5']
b = ['hi', 'evening', 'what a beautiful day', 'weather', '10 degrees outside']
c = ['100', '200', 40, 10]

c[0] = int(c[0])
c[1] = int(c[1])

combinations = []
for i in a:
    for o in b:
        for p in c:
            combinations.append( (i,o,p) )

print (sorted(combinations, key=lambda x: x[-1] ) )
print (sorted(combinations, key=lambda x: x[-1], reverse=True ) )

[('1', 'hi', 10), ('1', 'evening', 10), ('1', 'what a beautiful day', 10), ('1', 'weather', 10), ('1', '10 degrees outside', 10), ('2', 'hi', 10), ('2', 'evening', 10), ('2', 'what a beautiful day', 10), ('2', 'weather', 10), ('2', '10 degrees outside', 10), ('3', 'hi', 10), ('3', 'evening', 10), ('3', 'what a beautiful day', 10), ('3', 'weather', 10), ('3', '10 degrees outside', 10), ('4', 'hi', 10), ('4', 'evening', 10), ('4', 'what a beautiful day', 10), ('4', 'weather', 10), ('4', '10 degrees outside', 10), ('5', 'hi', 10), ('5', 'evening', 10), ('5', 'what a beautiful day', 10), ('5', 'weather', 10), ('5', '10 degrees outside', 10), ('1', 'hi', 40), ('1', 'evening', 40), ('1', 'what a beautiful day', 40), ('1', 'weather', 40), ('1', '10 degrees outside', 40), ('2', 'hi', 40), ('2', 'evening', 40), ('2', 'what a beautiful day', 40), ('2', 'weather', 40), ('2', '10 degrees outside', 40), ('3', 'hi', 40), ('3', 'evening', 40), ('3', 'what a beautiful day', 40), ('3', 'weather', 40), ('3', '10 degrees outside', 40), ('4', 'hi', 40), ('4', 'evening', 40), ('4', 'what a beautiful day', 40), ('4', 'weather', 40), ('4', '10 degrees outside', 40), ('5', 'hi', 40), ('5', 'evening', 40), ('5', 'what a beautiful day', 40), ('5', 'weather', 40), ('5', '10 degrees outside', 40), ('1', 'hi', 100), ('1', 'evening', 100), ('1', 'what a beautiful day', 100), ('1', 'weather', 100), ('1', '10 degrees outside', 100), ('2', 'hi', 100), ('2', 'evening', 100), ('2', 'what a beautiful day', 100), ('2', 'weather', 100), ('2', '10 degrees outside', 100), ('3', 'hi', 100), ('3', 'evening', 100), ('3', 'what a beautiful day', 100), ('3', 'weather', 100), ('3', '10 degrees outside', 100), ('4', 'hi', 100), ('4', 'evening', 100), ('4', 'what a beautiful day', 100), ('4', 'weather', 100), ('4', '10 degrees outside', 100), ('5', 'hi', 100), ('5', 'evening', 100), ('5', 'what a beautiful day', 100), ('5', 'weather', 100), ('5', '10 degrees outside', 100), ('1', 'hi', 200), ('1', 'evening', 200), ('1', 'what a beautiful day', 200), ('1', 'weather', 200), ('1', '10 degrees outside', 200), ('2', 'hi', 200), ('2', 'evening', 200), ('2', 'what a beautiful day', 200), ('2', 'weather', 200), ('2', '10 degrees outside', 200), ('3', 'hi', 200), ('3', 'evening', 200), ('3', 'what a beautiful day', 200), ('3', 'weather', 200), ('3', '10 degrees outside', 200), ('4', 'hi', 200), ('4', 'evening', 200), ('4', 'what a beautiful day', 200), ('4', 'weather', 200), ('4', '10 degrees outside', 200), ('5', 'hi', 200), ('5', 'evening', 200), ('5', 'what a beautiful day', 200), ('5', 'weather', 200), ('5', '10 degrees outside', 200)]
[('1', 'hi', 200), ('1', 'evening', 200), ('1', 'what a beautiful day', 200), ('1', 'weather', 200), ('1', '10 degrees outside', 200), ('2', 'hi', 200), ('2', 'evening', 200), ('2', 'what a beautiful day', 200), ('2', 'weather', 200), ('2', '10 degrees outside', 200), ('3', 'hi', 200), ('3', 'evening', 200), ('3', 'what a beautiful day', 200), ('3', 'weather', 200), ('3', '10 degrees outside', 200), ('4', 'hi', 200), ('4', 'evening', 200), ('4', 'what a beautiful day', 200), ('4', 'weather', 200), ('4', '10 degrees outside', 200), ('5', 'hi', 200), ('5', 'evening', 200), ('5', 'what a beautiful day', 200), ('5', 'weather', 200), ('5', '10 degrees outside', 200), ('1', 'hi', 100), ('1', 'evening', 100), ('1', 'what a beautiful day', 100), ('1', 'weather', 100), ('1', '10 degrees outside', 100), ('2', 'hi', 100), ('2', 'evening', 100), ('2', 'what a beautiful day', 100), ('2', 'weather', 100), ('2', '10 degrees outside', 100), ('3', 'hi', 100), ('3', 'evening', 100), ('3', 'what a beautiful day', 100), ('3', 'weather', 100), ('3', '10 degrees outside', 100), ('4', 'hi', 100), ('4', 'evening', 100), ('4', 'what a beautiful day', 100), ('4', 'weather', 100), ('4', '10 degrees outside', 100), ('5', 'hi', 100), ('5', 'evening', 100), ('5', 'what a beautiful day', 100), ('5', 'weather', 100), ('5', '10 degrees outside', 100), ('1', 'hi', 40), ('1', 'evening', 40), ('1', 'what a beautiful day', 40), ('1', 'weather', 40), ('1', '10 degrees outside', 40), ('2', 'hi', 40), ('2', 'evening', 40), ('2', 'what a beautiful day', 40), ('2', 'weather', 40), ('2', '10 degrees outside', 40), ('3', 'hi', 40), ('3', 'evening', 40), ('3', 'what a beautiful day', 40), ('3', 'weather', 40), ('3', '10 degrees outside', 40), ('4', 'hi', 40), ('4', 'evening', 40), ('4', 'what a beautiful day', 40), ('4', 'weather', 40), ('4', '10 degrees outside', 40), ('5', 'hi', 40), ('5', 'evening', 40), ('5', 'what a beautiful day', 40), ('5', 'weather', 40), ('5', '10 degrees outside', 40), ('1', 'hi', 10), ('1', 'evening', 10), ('1', 'what a beautiful day', 10), ('1', 'weather', 10), ('1', '10 degrees outside', 10), ('2', 'hi', 10), ('2', 'evening', 10), ('2', 'what a beautiful day', 10), ('2', 'weather', 10), ('2', '10 degrees outside', 10), ('3', 'hi', 10), ('3', 'evening', 10), ('3', 'what a beautiful day', 10), ('3', 'weather', 10), ('3', '10 degrees outside', 10), ('4', 'hi', 10), ('4', 'evening', 10), ('4', 'what a beautiful day', 10), ('4', 'weather', 10), ('4', '10 degrees outside', 10), ('5', 'hi', 10), ('5', 'evening', 10), ('5', 'what a beautiful day', 10), ('5', 'weather', 10), ('5', '10 degrees outside', 10)]

# List comprehension

In [14]:
my_list = []
for number in range(1,21):
    if number % 3 == 0:
        my_list.append(number)

print(my_list)

[3, 6, 9, 12, 15, 18]

In [21]:
my_list = [number for number in range(1,21) if number % 3 == 0 ]
print (my_list)
my_list = [number * 2 for number in range(1,21) if number % 3 == 0 ]
print (my_list)
my_list = [number ** 2 for number in range(1,21)  ]
print (my_list)
my_list = [number if number % 3 == 0 else 0 for number in range(1,21) ]
print (my_list)
# my_list = [number if number % 3 == 0  for number in range(1,21) ]
# print (my_list)
my_list = [number * number_2 for number in range(1,21) for number_2 in [-1, 10] ]
print (my_list)

[3, 6, 9, 12, 15, 18]
[6, 12, 18, 24, 30, 36]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[0, 0, 3, 0, 0, 6, 0, 0, 9, 0, 0, 12, 0, 0, 15, 0, 0, 18, 0, 0]
[-1, 10, -2, 20, -3, 30, -4, 40, -5, 50, -6, 60, -7, 70, -8, 80, -9, 90, -10, 100, -11, 110, -12, 120, -13, 130, -14, 140, -15, 150, -16, 160, -17, 170, -18, 180, -19, 190, -20, 200]

In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# None a.k.a null, nill, NaN - Not a Number

In [24]:
my_none = None
print (my_none)
print (type(my_none) )

None
<class 'NoneType'>

In [27]:
my_none = None
for i in range(5):
    if my_none is None:
        print(f'my_none has no value yet {i}')
        user_intput = input('enter your name:')
        if user_intput != '':
            my_none = user_intput
    else:
        print (f'received input is {my_none}')

my_none has no value yet 0
received input is Darius
received input is Darius
received input is Darius
received input is Darius

# Dictionary

In [28]:
me = {
    'name': 'Darius',
    'surname': 'Grigaliunas',
    'hobbies': ['tennis', 'games']
}

In [31]:
print (me)
print (me['name'])
print (me['hobbies'])

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games']}
Darius
['tennis', 'games']

In [38]:
me['age'] = 27
print (me)
me[5] = 'five'
print (me)
print (me[5])
me[True] = 'this is true'
print (me)
print (me[True])
me['age'] = 20
print (me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 27, 5: 'five', True: 'this is true'}
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 27, 5: 'five', True: 'this is true'}
five
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 27, 5: 'five', True: 'this is true'}
this is true
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, 5: 'five', True: 'this is true'}

In [39]:
print (type(me) )

<class 'dict'>

In [40]:
print (me[0])

KeyError: 0

In [41]:
print (me['non_existing_key'])

KeyError: 'non_existing_key'

## Dict are mutable. Be careful

## Dict methods

In [43]:
# me.clear()
me[5] = 'five'
print(me)
del me[5]
print(me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, 5: 'five', True: 'this is true'}
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true'}

In [44]:
me[5] = 'five'
print(me)
print(me.pop(5) )
print(me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true', 5: 'five'}
five
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true'}

In [45]:
me[5] = 'five'
print(me)
print(me.popitem() )
print(me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true', 5: 'five'}
(5, 'five')
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true'}

In [ ]:
# me.copy() # better use deepcopy

In [50]:
print(me['name'])
# print(me['Name'])
print(me.get('Name', 'Name not found'))
print(me.get('name', 'Name not found'))

Darius
Name not found
Darius

In [52]:
print (me)
update_dict = { 'age': 21, 'hobbies': ['tennis', 'games', 'riding bike'], 'car': 'Tesla' }
me.update( update_dict )
print (me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games'], 'age': 20, True: 'this is true'}
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'games', 'riding bike'], 'age': 21, True: 'this is true', 'car': 'Tesla'}

In [56]:
for key in me:
    # print(key)
    print (f'key is {key} with the value of {me[key]}')

key is name with the value of Darius
key is surname with the value of Grigaliunas
key is hobbies with the value of ['tennis', 'games', 'riding bike']
key is age with the value of 21
key is True with the value of this is true
key is car with the value of Tesla

In [57]:
for key in me.keys():
    print (f'key is {key} with the value of {me[key]}')

key is name with the value of Darius
key is surname with the value of Grigaliunas
key is hobbies with the value of ['tennis', 'games', 'riding bike']
key is age with the value of 21
key is True with the value of this is true
key is car with the value of Tesla

In [58]:
for value in me.values():
    print (value)

Darius
Grigaliunas
['tennis', 'games', 'riding bike']
21
this is true
Tesla

In [59]:
# for key, value in me.items():
for k, v in me.items():
    print (f'key is {k} with the value of {v}')

key is name with the value of Darius
key is surname with the value of Grigaliunas
key is hobbies with the value of ['tennis', 'games', 'riding bike']
key is age with the value of 21
key is True with the value of this is true
key is car with the value of Tesla

In [61]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [63]:
twitter_post['user']['name']

'ayah'

In [67]:
print ('name' in me)
print ('Name' in me)

print ('Darius' in me.values())
print ('Tomas' in me.values())

True
False
True
False

In [68]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car['brand'])
print(len(car))
car['year']=2020
print(car['year'])

car['color']= 'red'
car['used'] = True
car.update( {'color': 'red', 'used': True} )
print(car)

car.pop('brand')
print(car)
car['year']=None
print(car)

Ford
3
2020
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

# Sets

In [71]:
my_set = { 100,1,1,1,1,2,3,'a', 'b' }
my_set_2 = set( [100,1,1,1] )
print (my_set)
print (my_set_2)

{1, 2, 3, 100, 'b', 'a'}
{1, 100}

In [72]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [76]:
print( 1 in my_set)
print( 'a' in my_set)
print( 0 in my_set)
print( len(my_set))

True
True
False
6

In [82]:
my_set = { 100,1,1,1,1,2,3,'a', 'b' }
my_set.add(5)
print(my_set)
my_set.add(5)
print(my_set)
my_set.add( (10,1) )
print(my_set)

my_set.update( [200,300,300] )
print(my_set)

{1, 2, 3, 100, 'b', 'a', 5}
{1, 2, 3, 100, 'b', 'a', 5}
{1, 2, 3, 100, 'b', 'a', 5, (10, 1)}
{1, 2, 3, 'b', 5, 200, 'a', 100, (10, 1), 300}

In [87]:
my_set.add(5)
print(my_set)
my_set.remove(5)
print(my_set)
# my_set.remove(5) # error
my_set.discard( (10, 1) )
my_set.discard( (10, 1) )
my_set.discard( (10, 1) )
print(my_set)

{1, 2, 3, 'b', 5, 200, 'a', 100, (10, 1), 300}
{1, 2, 3, 'b', 200, 'a', 100, (10, 1), 300}
{1, 2, 3, 'b', 200, 'a', 100, 300}

In [91]:
my_set = { 1,4,5,6 }
my_set_2 = { 2, 3, 5,6, 9,10 }

print( my_set.union(my_set_2) )
print( my_set.difference(my_set_2) )
print( my_set_2.difference(my_set) )
print( my_set.intersection(my_set_2)  )
my_set.

{1, 2, 3, 4, 5, 6, 9, 10}
{1, 4}
{10, 9, 2, 3}
{5, 6}

In [93]:
my_set = { 1,2,3,4,5,6 }
my_set_2 = { 3, 5 }
my_set_3 = { 5,6, 7 }

print( my_set.issuperset(my_set_2) )
print( my_set.issuperset(my_set_3) )

True
False

#